<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:rsf="http://ponder.org.uk/rsf" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>User Aliases</title>
<link rsf:id="scr=portal-matter" href="../library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link rsf:id="scr=portal-matter" href="../library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link href="../css/accessible_table_sort.css" type="text/css" rel="stylesheet" media="all" />
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
                <script type="text/javascript">includeLatestJQuery('user-alias-tool');</script>
<script type="text/javascript" language="JavaScript" src="../js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function() {$("#sortableTable").tablesorter({ 
        headers: {
          3: { sorter: 'inputValue' },
          4: { sorter: 'inputValue' }
        },
        // sort on the first column 
        sortList: [[0,0]] 
    });} ); 
</script>
</head>
<body>
<div class="portletBody">
  <h3>User Aliases</h3>
  <p align="right">
     <a href="" rsf:id="download-link">Download Spreadsheet</a> 
  </p>
  <form method="post" rsf:id="userAliasForm">
    <table id="sortableTable" class="listHier lines nolines" cellspacing="0" cellpadding="0" border="0">
      <thead>
        <tr>
          <th id="surname"><a title="Sort by surname" href="#" rsf:id="msg=title_surname">Surname</a></th>
          <th id="name"><a title="Sort by name" href="#" rsf:id="msg=title_givenname">Name</a></th>
          <th id="id"><a title="Sort by username" href="#" rsf:id="msg=title_username">Username</a></th>
          <th id="aliastFirst"><a title="Sort by alias first name" href="#" rsf:id="msg=title_aliasFirst">Alias first name</a></th>
          <th id="aliasLast"><a title="Sort by alias last name" href="#" rsf:id="msg=title_aliasLast">Alias last name</a></th>
        </tr>
      </thead>
      <tbody>
        <tr rsf:id="user-row:">
          <td rsf:id="user-last">Horwitz</td>
          <td rsf:id="user-first">David</td>
          <td rsf:id="user-eid">0000000</td>
          <td><input rsf:id="aliasFirst" value="" type="text" name="firstname"/>
            <span rsf:id="text-first">Text name</span></td>
          <td><input rsf:id="aliasLast" value="" type="text" name="surname"/>
            <span rsf:id="text-last">Text name</span></td>
        </tr>
      </tbody>
    </table>
    <p class="act">
      <input value="Update" type="submit" rsf:id="submit" class="active"/>
    </p>
  </form>
</div>
</body>
</html>
