<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
<title >User Aliases</title>
<link rsf:id="scr=portal-matter" href="../library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link  rsf:id="scr=portal-matter" href="../library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
<link  href="../css/accessible_table_sort.css" type="text/css" rel="stylesheet" media="all" />
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<script type="text/javascript" language="JavaScript" src="../js/jquery-1.2.6/jquery-1.2.6.js"></script>
<script type="text/javascript" language="JavaScript" src="../js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function() {$("#sortableTable").tablesorter({ 
        // sort on the first column 
        sortList: [[0,0]] 
    });} ); 
</script>
</head>
<body>
<div class="portletBody">
  <h3>User Aliases</h3>
  <!--  <input value="Download Spreadsheet" type="submit" rsf:id="download-link" class="active"/>
--> 
  <p align="right">
     <a href="" rsf:id="download-link">Download Spreadsheet</a> 
    </p>
 <!-- we're not using this now 
<div class="navPanel">
<div class="listNav">
<div class="instruction">Viewing 1 - 3 of 3 items</div>
<form name="firstpageForm" class="inlineForm" method="post">
	<input name="eventSubmit_doList_first" value="|&lt;" disabled="disabled" type="submit" />
</form>
<form name="prevpageForm" class="inlineForm" method="post" action="https://sakai.cet.uct.ac.za/portal/tool/ef77f5a1-c5e8-451c-80e9-562e626633d5?panel=Main">
	<input name="eventSubmit_doList_prev" value="&lt;" disabled="disabled" type="submit" />
</form>
<form name="pagesizeForm" class="inlineForm" method="post" action="https://sakai.cet.uct.ac.za/portal/tool/ef77f5a1-c5e8-451c-80e9-562e626633d5?panel=Main">
	<input name="eventSubmit_doChange_pagesize" value="changepagesize" type="hidden"/><label for="selectPageSize" class="skip">Select page size</label>
	<select id="selectPageSize" name="selectPageSize" onchange="blur();document.pagesizeForm.submit();">
		<option value="5">show 5 items per page</option>
		<option value="10">show 10 items per page</option>
		<option value="20">show 20 items per page</option>
		<option value="50">show 50 items per page</option>
		<option value="100">show 100 items per page</option>
		<option value="200" selected="selected">show 200 items per page</option>
	</select>
</form>
<form name="nextpageForm" class="inlineForm" method="post" action="https://sakai.cet.uct.ac.za/portal/tool/ef77f5a1-c5e8-451c-80e9-562e626633d5?panel=Main">
	<input name="eventSubmit_doList_next" value="&gt;" disabled="disabled" type="submit" />
</form>
<form name="lastpageForm" class="inlineForm" method="post" action="https://sakai.cet.uct.ac.za/portal/tool/ef77f5a1-c5e8-451c-80e9-562e626633d5?panel=Main">
	<input name="eventSubmit_doList_last" value="&gt;|" disabled="disabled" type="submit"/>
</form>
</div>
</div>
-->
  <form method="post" rsf:id="userAliasForm">
    <table id="sortableTable" class="listHier lines nolines" cellspacing="0" cellpadding="0" border="0">
      <thead>
        <tr>
          <th id="surname"><a title="Sort by surname" href="#">Surname</a></th>
          <th id="name"><a title="Sort by name" href="#">Name</a></th>
          <th id="id"><a title="Sort by username" href="#">Username</a></th>
          <th id="aliastFirst"><a title="Sort by alias first name" href="#">Alias first name</a></th>
          <th id="aliasLast"><a title="Sort by alias last name" href="#">Alias last name</a></th>
        </tr>
      </thead>
      <tbody>
        <tr rsf:id="user-row:">
          <td rsf:id="user-last">Horwitz</td>
          <td rsf:id="user-first">David</td>
          <td rsf:id="user-eid">0000000</td>
          <td><input rsf:id="aliasFirst" value="" type="text" name="firstname"/>
            <span rsf:id="text-first">Text name</span></td>
          <td><input rsf:id="aliasLast" value="" type="text" name="surname"/>
            <span rsf:id="text-last">Text name</span></td>
        </tr>
      </tbody>
    </table>
    <p class="act">
      <input value="Update" type="submit" rsf:id="submit" class="active"/>
    </p>
  </form>
</div>
</body>
</html>
